.app{
  /* position: fixed; */
  bottom: 0;
  top: 0;
  width: 100%;
}

.no-underline{
  text-decoration: none;
  color: inherit; 
  color: black;
}

.page-background {
  /* background-color: gray; */
  background: linear-gradient(to right, #57c5d3, #c1bb5a);

  min-height: 100vh;
  padding-top: 50px;
}


/* Footer Section */

footer .text-light {
  text-decoration: none;
}
.text{
  background: linear-gradient(to right, #8d57d3, #c15a87);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif
}