/* card css*/
 .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  
}


/* header css*/
.heading{
  background: linear-gradient(to right,#ffc107, #c15a87);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


